.quill {
  display: flex;
  flex-direction: column;
}

.ql-container {
  border-radius: 0 0 0.875rem 0.875rem;
  flex: 1 1 auto;
  overflow: auto;
  height: 300px;
}

.ql-toolbar {
  border-radius: 0.875rem 0.875rem 0 0;
}

pre.ql-syntax {
  background: rgb(236, 236, 236);
  border-radius: 10px;
}
